$textfont: 'Noto Sans', sans-serif;
$fancyfont: 'Kanit', sans-serif;


body {
    font-family: $textfont;
    margin: 0;
}
h1, h2, h3, h4, h5 {
    font-family: $fancyfont;
    font-weight: bold;
    text-transform: uppercase;
}

button {
    font-family: $fancyfont;
    background-color: black;
    border: 0 none;
    color: white;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;

    &:disabled {
        background-color: #555;
        color: #bbb;
    }
}

input[type=text], input[type=email] {
    display: block;
    width: 100%;
    border: 0 none;
    border-bottom: 3px solid #f88;
    margin-bottom: 10px;
}
