@import 'variables-mixins';
@import 'normalize';

// Structure
body {
    font-family: $textfont;
    font-size: 16px;
}
#app-container {
    max-width: 64em;
    margin: 0 auto;
}
header {
    text-align: center;
}

// Typography
h1, h2, h3, h4, h5 {
    font-family: $fancyfont;
    font-weight: bold;
    text-transform: uppercase;
}
.mono {
    font-family: $consolefont;
}
.emphatic {
    font-family: $fancyfont;
    font-weight: bold;
    text-transform: uppercase;
}

// Navigation
button {
    font-family: $fancyfont;
    background-color: $black;
    border: 0 none;
    color: $white;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;

    &.small {
        font-size: 1.1em;
    }

    &:disabled {
        background-color: darken($white, 50%);
        color: darken($white, 20%);
    }
}

.button-split {
    // A class for displaying a "Back" or "Cancel" button on the left and a "Continue" or "Confirm" button on the right
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

input[type=text], input[type=email], input[type=number] {
    display: block;
    width: 100%;
    border: 0 none;
    border-bottom: 3px solid #f88;
    margin-bottom: 10px;
}
