$textfont: 'Noto Sans', sans-serif;
$fancyfont: 'Kanit', sans-serif;
$consolefont: 'Consolas', 'Monaco', monospace;

$black: #1a1a1a;
$grey: #e4e4e4;
$white: #fdfdfd;
$green: #38d673;
$red: #ff6262;
$purple: #767eff;
