.market {
    height: 100vh;
    background-color: #794a37;
    background-image: url('./images/marketplace-bg.jpg'), linear-gradient(#794a37, #2d2f43); // The gradient matches the image and is shown until the image loads
    background-size: cover;
    background-position: center;
    color: white;

    &.fade-bg {
        // Once the prelude is complete, this overlay makes the background image whiter
        background-image:
            linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
            url('./images/marketplace-bg.jpg'),
            linear-gradient(#794a37, #2d2f43);
        color: black;
      }

    header {
        .saltines-balance {
            img {
                width: 15px;
                height: 15px;
                margin-top: 1px;
                float: left;
                filter: invert(1); // Turn the black saltine image white
            }
            color: white;
            span {
                padding: 0 0.5em;
            }
        }
    }

    .content {
        height: 100vh;
        box-sizing: border-box;
        overflow-y: auto;
    }

    .punchcard-list {
        .punchcard-option {
            img.card-illustration {
                float: right;
                max-width: 25%;
                max-height: 150px;
            }
            .cost {
                display: inline-block;
                background: black;
                color: white;
                padding: 6px;
                img {
                    width: 16px;
                    margin-right: 6px;
                    margin-bottom: -1px;
                    filter: invert(1);
                }
            }
            &::after {
                clear: right;
                content: '';
                display: block;
            }
            button {
                margin-right: 1em;
            }
        }
    }
}
