.uses-rpc {
    & > .rpc-status-indicator {
        position: fixed;
        top: 40px; // Appear just below the normal header
        width: 100%;
        max-width: 32em; // Same as the #app-container limit
        height: 40px;
        background-color: rgb(133, 0, 0);
        color: white;
        padding: 10px;
        text-align: center;
        z-index: 99999;
        box-sizing: border-box;
    }
    .rpc-status-indicator + div {
        padding-top: 40px;
        z-index: 1;
    }
}
