@import '../global/variables-mixins';

.prompt-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparentize($black, 0.1);
}

.prompt-content {
    overflow: auto;
    outline: none;
    -webkit-overflow-scrolling: touch;
    background: $white;
    padding: 0.5rem 1rem 1rem;
    position: relative;
        h1 {
            margin-right: 2rem;
        }
        .close {
            position: absolute;
            top: 0;
            right: 0;
            background: $red;
            padding: 0.5rem 0.75rem;
        }
}