.prompt-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 32em;
    margin: 0 auto;
    z-index: 2;
    background: transparentize($black, 0.2);
    overflow-y: auto;
}

.prompt-content {
    overflow: auto;
    outline: none;
    -webkit-overflow-scrolling: touch;
    background: $white;
    padding: 0.5rem 1rem 1rem;
    margin: 2rem;
    position: relative;
    line-height: 1.2;
        &.fullscreen {
            height: 100%;
            margin: 0;
            padding: 0 1.5rem;
            background: $black;
            color: $white;
                #prompt-description button {
                    border: 1px solid $white;
                }
                h1 {
                    margin-top: 1.5rem;
                }
                a.small {
                    margin-top: 1rem;
                    color: $red;
                    padding-top: 0.75rem;
                }
        }
        p.research {
            margin-right: 40px;
            margin-top: 0.5rem;
        }
        .button-split.research {
            margin: 1rem 0 0;
        }
        a.research {
            background: $black;
            color: $white;
            display: inline-block;
            font-family: $fancyfont;
            text-decoration: none;
            padding: 1rem 0.75rem;
            font-size: 1.2em;
            margin-top: 0.75rem;
                &.no {
                    font-family: $textfont;
                    font-size: 1em;
                    background: none;
                    color: $black;
                    border: 1px solid;
                }
        }
        #prompt-description {
            line-height: 1.4;
            button {
                margin-top: 1rem;
            }
        }
        h1 {
            margin-right: 2.5rem;
            font-size: 1.8em;
        }
        .close {
            position: absolute;
            top: 0;
            right: 0;
            background: $red;
            padding: 0.5rem 0.75rem;
        }       
}