version: '2'

services:
  boris:
    image: fromthestorm/boris:{{ boris_image_tag }}
    restart: always
    expose:
      - 3333
    networks:
      - {{ traefik_docker_apps_network_name }}
      - default
    container_name: boris
    env_file: 
      - {{ boris_app_environ_file }}
    labels:
      - "traefik.docker.network={{ traefik_docker_apps_network_name }}"
      - "traefik.enable=true"
      - "traefik.basic.frontend.rule=Host:{{boris_app_domain}}"
      - "traefik.basic.port=3333"
      - "traefik.basic.protocol=http"

networks:
  {{traefik_docker_apps_network_name}}:
    external: true
