.lobby {

    @-webkit-keyframes cycle {
        from { -webkit-transform: translateX(0); }
        to { -webkit-transform: translateX(-100%); }
    }

    @keyframes cycle {
        from { transform: translateX(0); }
        to { transform: translateX(-100%); }
    }

    #market-button-container {
        max-width: 800px;
        margin: 0 auto 0.5rem;
            button.market-button {
                background: none;
                overflow: hidden;
                padding: 0;
                    &#open {
                        img {
                            width: 200%;
                            max-width: none;
                            -webkit-animation: 1.5s steps(2) infinite cycle;
                            animation: 1.5s steps(2) infinite cycle;
                        }
                    }
            }
    }

    nav.tabs {
      margin: -1rem -1rem 1rem -1rem;
      display: flex;
      button {
          background: darken($grey, 10%);
          color: lighten($black, 25%);
          padding: 1rem 1.25rem;
          flex: 1;
              &.active {
                  background: none;
                  color: $black;
              }
      }
      &.city {
        margin: 1rem -1rem;
          button {
            border-top: 1px solid $white;
          }
          button.active {
            border-top: 1px solid lighten($black, 30%);
            border-left: 1px solid lighten($black, 30%);
            border-right: 1px solid lighten($black, 30%);
              &:first-child {
                border-left: 0 none;
              }
              &:last-child {
                border-right: 0 none;
              }
          }
      }
    }

    .scenario-grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        position: relative;
        overflow: hidden;
            .scenario-choice {
                flex-basis: 50%;
                box-sizing: border-box;
                padding: 0.5rem 0.5rem 0.25rem;
                background-color: $grey;
                border-bottom: 8px solid $white;
                overflow: hidden;
                background-repeat: no-repeat;
                background-position: 100% 0;
                border-left: 4px solid $white;
                display: flex;
                flex-flow: row wrap;
                    &:nth-child(odd) {
                        border-right: 4px solid $white;
                        border-left: 0;
                    }
                    .scenario-buttons {
                        align-self: flex-end;
                        flex-basis: 100%;
                    }
                    button {
                        font-size: 1em;
                        padding: 0.5rem;
                        border: 2px solid $black;
                            &.inverted {
                                margin: 0 0.3rem 0.3rem 0;
                            }
                    }
            }
    }

    p {
        .mono {
            background: $green;
            padding: 0 0.25rem;
        }
    }

    .scenario-info {
        h4 {
            padding: 0.5rem 0.25rem;
        }
        padding: 0 0 1.25rem;
            span {
                display: inline-block;
                background: $white;
                padding: 0.3rem 0.5rem;
                margin: 0 0.2rem 0.2rem 0;
                font-family: $fancyfont;
                text-transform: uppercase;
                font-size: 0.85em;
                    &.easy {
                        color: $green;
                    }
                    &.med {
                        color: $purple;
                    }
                    &.hard {
                        color: $red;
                    }
                    &:last-of-type {
                        font-family: $textfont;
                        text-transform: none;
                        line-height: 1.5;
                    }
            }
            &.details {
                span {
                    font-size: 1em;
                    background-color: darken($white, 10%);
                }
                a {
                    text-decoration: underline;
                }
            }
    }

    .scenario-title {
        margin: -1rem -1rem 1.5rem;
        padding: 3rem 1rem 0.5rem;
        background-color: lighten($black, 20%);
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-size: auto 100%;
            h1 {
                color: $white;
                display: inline-block;
            }
    }

    .scenario-description {
        margin-top: 1rem;
    }
        
    .id-1 {
        background-image: url('./images/bg-quake.svg');
    }
    .id-2, .id-6 {
        background-image: url('./images/bg-water.svg');
    }
    .id-3, .id-9 {
        background-image: url('./images/bg-dynamics.svg');
    }
    .id-4, .id-7 {
        background-image: url('./images/bg-home.svg');
    }
    .id-8 {
        background-image: url('./images/bg-fire.svg');
    }

    .teams {

        h3 {
            margin-top: 1.5rem;
            margin-bottom: 0;
                button {
                    font-size: 0.9em;
                    padding: 0.25rem 0.5rem;
                    margin-left: 0.5rem;
                }
        }

        button.switch-teams {
            font-size: 1em;
            padding: 0.25em 0.5rem;
        }

        .saltines-count {
            p {
                font-size: 0.9em;
                line-height: normal;
                margin: 0;
                span {
                    font-family: $fancyfont;
                    font-size: 2em;
                    display: inline-block;
                    margin: 0 0.5rem;
                }
            }
        }

        .rankings-snapshot {
            margin: 0.5rem 0 2rem;
                button {
                    width: 100%;
                    text-align: left;
                    font-size: 1.8em;
                    margin-top: 0.5rem;
                    padding: 0.5rem;
                        span {
                            margin-left: 0.75rem;
                            font-size: 0.55em;
                        }
                }
        }

        .online-indicator {
            background: $green;
            border-radius: 50%;
            display: inline-block;
            height: 1em;
            width: 1em;
            -webkit-animation: 1s cubic-bezier(.5, 0, 1, 1) infinite alternate fade;
            animation: 1s cubic-bezier(.5, 0, 1, 1) infinite alternate fade;
            margin: 0 0.5rem;
            vertical-align: middle;
        }

    }

    .teams, .pre-launch {
        ul.team {
            list-style-type: none;
            padding-left: 0;
            margin-top: 1rem;

            li {
                margin-bottom: 0.75rem;

                button {
                    font-family: $fancyfont;
                    font-size: 0.9em;
                    padding: 0.25rem 0.5rem;
                    margin: 0 0.25rem;
                }
            }
        }
    }

    .leaderboards {
        text-align: left;
        width: 100%;
        margin-top: 1.5rem;
        border-collapse: collapse;
        thead tr {
            font-family: $fancyfont;
            text-transform: uppercase;
                th {
                    padding: 0.5rem;
                }
        }
        tbody tr {
            td {
                padding: 0.5rem;
                span {
                    font-size: 0.75em;
                    margin-top: 0.5rem;
                    text-transform: uppercase;
                    display: block;
                }
            }
            &:nth-child(odd) {
                background: $grey;
            }
        }
    }

}

@-webkit-keyframes fade {
    from { opacity: 1; }
	to {   opacity: 0; }
}

@keyframes fade {
    from { opacity: 1; }
	to {   opacity: 0; }
}