@import '../global/variables-mixins';

.lobby {

    header {
        background-color: $black;
        width: 100%;
        height: 40px;
    }

    .scenario-choice {
        border: 1px solid grey;
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 5px;
    }
}
